@page "/Panel/Manage/{id?}"
@model kuvuBot.Panel.Pages.Panel.ManageModel
@{
    ViewData["Title"] = "Manage";
}

<h1>Manage</h1>

@if (Model.Global)
{
    <div>globalne ocieplenie</div>
}
else
{
    <div>gildijne ocieplenie</div>
}