body {
    min-height: 100vh;
}

/* Sidebar styling */
.sidebar {
    background: #161616;
    color: #eee;
    height: 100vh;
    font-size: 14px;
    line-height: 20px;
    margin-top: 0;
    padding-top: 0;
}

.sidebar a {
    color: #eee;
    transition: 0.3s;
}

.sidebar a:hover {
    transition: 0.3s;
}

.sidebar-main {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-title {
    width: 100%;
    background: #090909;
    text-align: center;
}

.sidebar .nav-item .active {
    border-left: #10529F solid;
    background: #0f0f0f;
}

.sidebar .nav-item .active:hover {
    color: #eee;
}

.sidebar .nav-item {
    transition: 0.3s;
}

.sidebar .nav-item:hover {
    background: #0f0f0f;
    transition: 0.3s;
}

/* Navbar styling */
.darkblue-color {
    background: #10529F;
}

.navbar-brand {
    width: 205px;
    text-align: center;
    height: 100%;
    transition: 0.3s;
    margin-right: 25px;
}

.navbar-brand:hover {
    background: #104b97;
    transition: 0.3s;
}

/* Dropdown styling */
.dropdown-item:hover {
    background: #e4e4e4;
}

/* Card styling */
.card {
    padding-top: 2vh;
    min-width: 175px;
    text-align: center;
}

/* Sidebar toggler */
.menu-toggle {
    text-align: center;
    margin: 8px;
    width: 40px;
    line-height:23px;
}
.menu-toggle:hover {
    background-color: rgba(255,255,255,.1);
}

/* Main styling */
.main {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-top: 56px;
}

.main.toggled {
    padding-left: 250px;
}

.main.toggled .sidebar-main {
    width: 250px;
}

.main.toggled .content {
    position: absolute;
    margin-right: -250px;
}

.content {
    padding-top: 5vh;
    width: 100%;
    position: absolute;
    padding: 15px;
}

.container-fluid {
    padding-left: 0px;
}
